{% extends 'orders/base.html' %}
{% block second %}
    <h1> Second pages </h1>
    <a href={% url "first_page" %}> НА 1-ую СТРАНИЦУ</a>
    <h3>Введите данные</h3>
    <div class="form_width" width="100%">
        <form action="{% url 'second_page'%}" method="post" >
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Получить">
        </form>
    </div>

    <table border="1">
       <tr>
           <th>имя товара</th>
           <th>Заказ {номер заказа}</th>
           <th>Цена {цена товара в заказе}</th>
           <th>Дата {дата покупки})</th>
           <th>Количество</th>
       </tr>

    {% for order_item in order_items %}
        <tr>
            <td>{{ order_item.product_name }}</td>
            <td>Заказ-{{ order_item.order.number }}</td>
            <td>Цена-{{ order_item.product_price }}</td>
            <td>Дата-{{ order_item.order.created_date }}</td>
            <td>Количество {{ order_item.amount }}</td>
        </tr>
    {% endfor %}
    </table>
    </body>
{% endblock %}